
$blue: #00A4FD;
$aqua: #D0EEFE;
$yellow : #FFDC00;
$purple : #6D43FF;


$main-bgcolor: #F9F3EC;
$slow-animation :  0.5s ease;

// $menu-link: $yellow;
// $menu-link-hover: darken($yellow, 20%);
// $menu-link-active: $white;
// $menu-link-active-bgcolor: darken($yellow, 20%);

$button-border: $yellow;
$button-text: black;
$button-hover: darken($yellow, 20%);